# Credentials
config/credentials/*.json
!config/credentials/example-credentials.json

## Config
config/k6config.json

# Other standard Python ignores
.DS_Store
.venv
credentials.json
__pycache__
.pytest_cache
benchmark_results*
.vscode
config/credentials/credentials.json
__pycache__/
*.pyc
config/credentials/credentials.json
__pycache__/
*.pyc
